<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="chart_div"></div>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["gantt"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var otherData = new google.visualization.DataTable();
            otherData.addColumn("string", "Task ID");
            otherData.addColumn("string", "Task Name");
            // otherData.addColumn("string", "Resource");
            otherData.addColumn("date", "Start");
            otherData.addColumn("date", "End");
            otherData.addColumn("number", "Duration");
            otherData.addColumn("number", "Percent Complete");
            otherData.addColumn("string", "Dependencies");

            otherData.addRows([{{content}}]);

            var options = {
                height: 500,
                gantt: { 
                    arrow: { color: "#c8c8c8" },
                    criticalPathEnabled: false,
                    palette: [{
                        "color": "#87CEEB",
                        "dark": "#d3d3d3",
                        "light": "#c8c8c8"
                    }]
                 },
            };

            var chart = new google.visualization.Gantt(
                document.getElementById("chart_div"));
            chart.draw(otherData, options);
        }
    </script>
</body>
</html>